---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: cmb-apps
  namespace: argocd
spec:
  generators:
  - list:
      elements:
      - name: cmb-portfolio
      - name: cmb-webstore
  template:
    metadata:
      name: '{{name}}'
      namespace: argocd
      finalizers:
        - resources-finalizer.argocd.argoproj.io
    spec:
      project: default
      source:
        repoURL: https://github.com/ressafri/test-delete-me.git
        targetRevision: HEAD
        path: 'cmb/environments/staging/{{name}}'
      destination:
        server: https://kubernetes.default.svc
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
          allowEmpty: false
        syncOptions:
          - Validate=true
          - CreateNamespace=false
