---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cmb-webstore
  namespace: cmb-production

  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
  spec:
    containers:
      - name: cmb-webstore
        image: ressafri/nginx:1.29.3-alpine
        ports:
          - containerPort: 80